.Navbar{
    background-color: white;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 2px 3px gray;
    width: 100%;
    height: 11%;
}

@media only screen and (max-width: 650px) {
    .Toolbar{
        display: none;
    }
}